.player-player {
    width: 300px;
    border: 5px dotted #202020;
    border-radius: 10px;
}

.player-turn-player {
    border: 5px solid #E01010;
}

.player-player-name {
    font-size: 32px;
    text-align: center;
    margin: 0 0 20px 0;
}

.player-timer-container {
    display: flex;
    align-items: flex-end;
}

.player-timer {
    font-size: 64px;
    margin: 0 auto;
}

.player-card-container {
    display: flex;
    padding: 5px;
}

.player-card {
    width: 30px;
    height: 50px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 5px;
    position: relative;
    background-color: rgb(240, 240, 240);
}

.player-card-dummy {
    height: 50px;
}